body {
    background-color: black;
}

img {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    border: 1px solid gold;
}

img:hover {
    width: 150%;
    height: 450px;
    border: 5px inset gold;
    z-index: 1;
}

.jumbotron {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid gold;
}

.jumbotron-fluid {
    background-color: darkred;
}

.display-4 {
    text-align: center;
    color: silver;
    font-size: 80px;
}

.lead {
    text-align: center;
    color: silver;
}

.navbar {
    border: 1px solid gold;
}

.navbar-dark {
    background-color: darkred !important;
}

.nav-link {
    color: darkred !important;
}

.nav-link:visited {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar-brand {
    color: darkred !important;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: gold;
}

.nav-item {
    border: 1px solid gold;
    background-color: gold;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-item:hover {
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 5px;
}