body {
    background-color: black;
}

label {
    color: silver;
}

.row {
    position: relative;
}

.jumbotron {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px inset gold;
}

.jumbotron-fluid {
    background-color: darkred;
}

.display-4 {
    text-align: center;
    color: silver;
    font-size: 80px;
}

.lead {
    text-align: center;
    color: silver;
}

nav {
    width: 25%;
    margin: 0 auto;
}

.navbar {
    border: 1px solid gold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

.nav-link {
    color: darkred !important;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.menu {
    color: darkred !important;
    border: 2px inset darkred;
    border-radius: 5px;
    padding: 2px;
    background-color: gold;
    font-family: 'Kanit', sans-serif;
    margin: 0 auto;
}

button:focus {
    outline: 0;
}

.nav-link {
    background-color: darkred !important;
}

.nav-link:visited {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: goldenrod;
}

ul {
    list-style-type: none;
}

.nav-item {
    border: 3px outset gold;
    /* background-color: gold; */
    border-radius: 5px;
    /* margin-left: 10px; */
    margin-top: 2px;
    /* width: 25%; */
    flex: 1;
    margin-left: 10px;
}

.nav-item:hover {
    border: 3px solid whitesmoke;
    background-color: black;
}

.form-group {
    border: 2px inset gold;
    border-radius: 5px;
    background-color: darkred;
    margin: 1px;
}

.btn {
    color: silver;
    margin: 0;
    background-color: darkred;
    border: 2px outset gold;
    border-radius: 5px;
}

.bgTitle {
    margin-top: 5px;
    background-color: darkred;
    color: silver;
    border: 2px inset gold;
    border-radius: 5px;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-family: 'Teko', sans-serif;
}

.bgContent {
    margin-top: 5px;
    background-color: slategray;
    color: black;
    border: 2px inset gold;
    border-radius: 5px;
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

.display-4 {
    font-family: 'Teko', sans-serif;
}

.lead {
    font-family: 'Teko', sans-serif;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 20px;
}